
.postcard {
	height: 428px;
	width: 570px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	border: solid;
}

.postcard img {
	width: 262px;
	height: 392px;
	float: left;
}

.img-circle {
	height: 120px;
	width: 120px;
}

.container {
	text-align: center;
}

.send {
	text-align: center;
	padding: 20px;
}

.form-group {
	float: right;	
}

#msg {
	width: 250px;
	height: 350px;

}


.input-group {
	text-align: center;
	padding: auto;
	margin: auto;
	width: 500px;
}